.header {
    background-color: aquamarine;
    padding: 20px;
    text-decoration: underline;
    color: black;
}

.btn {
    padding: 10git px;
    width: fit-content;
    color: black;
    background-color: rgb(53, 100, 18);
    border: none;
    border-radius: 5px;
}