* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
   background: #000;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  white-space: nowrap;
  text-decoration: underline;

}

h2{
  font-size: 36px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 40px;
  background-color: #0e667e;
}

.navbar div {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

}